<template>
  <require from="./foot.scss"></require>
  <div class="footer-dark">
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-3 item">
            <h3>| Navigation</h3>
            <ul>
              <li>
                <a href="app/me/reports">How enduro works</a>
              </li>
              <li>
                <a route-href="route: app">List your car</a>
              </li>
              <li>
                <a href="app/me">Your cars</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-3 item">
            <h3>| About</h3>
            <ul>
              <li>
                <a href="#">Company</a>
              </li>
              <li>
                <a href="#">Team</a>
              </li>
              <li>
                <a href="#">Careers</a>
              </li>
            </ul>
          </div>
          <div class="col-md-6 item text">
            <h3>| Enduro</h3>
            <p>Drive your preffered car for 40% cheaper than classic rent a car agencies.
            </p>
          </div>
          <div class="col item social">
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fab fa-snapchat"></i>
            </a>
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
        <p class="copyright">Enduro © 2019</p>
      </div>
    </footer>
  </div>
</template>
